{{ partial "head" . }}

<div class="landing-page">
  {{ partial "nav" . }}
</div>

<!--MAIN ROW-->
<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="card card-pricing card-plain">
      <div class="content">
        <h6 class="category text-succes">Free</h6>
        <h1 class="card-title" class="tab-pane fade in active"><small>€</small>0<small>/mo</small></h1>
        <ul>
          <li><abbr title="do it yourself">DIY</abbr> download</li>
          <li>No backups</li>
          <li>No Hosting</li>
          <li>No SSL</li>
          <li>E-mail support</li>
          <li>Latest version</li>
          <li>Pay for migration</li>
        </ul>
        <a href="https://github.com/storecore/core/archive/develop.zip" class="btn btn-primary icon icon-cloud-download inline-block-tight">
          Free Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card card-pricing card-raised">
      <div class="content content-rose">
        <h6 class="category text-info">Premium</h6>
        <h1 class="card-title"><small>€</small>89<small>/mo</small></h1>
        <ul>
          <li>Free installation</li>
          <li>Daily backup</li>
          <li>Fast hosting</li>
          <li>Free SSL</li>
          <li>Full support</li>
          <li>Latest version</li>
          <li>Free migration</li>
        </ul>
        <a href="signup-page.html" class="btn btn-white btn-raised" style="background:#690;color:#fff">
          Get Started
        </a>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" .}}
