{{ partial "head" . }} <!-- themes/storecore/partials/head.html -->
{{ partial "nav" . }} <!-- themes/storecore/partials/nav.html -->
<section id="slider" class="slider-parallax swiper_wrapper clearfix">

  <div class="slider-parallax-inner">

    <div class="swiper-container swiper-parent">
      <div class="swiper-wrapper">
        <div class="swiper-slide dark" style="background-image: url('images/slider/swiper/1.jpg');">
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
              <h2 data-caption-animate="fadeInUp"><span>Store</span>Core</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">Multi-Store Made Easy</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide dark">
          <div class="container clearfix">
            <div class="slider-caption slider-caption-center">
              <h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
            </div>
          </div>
          <div class="video-wrap">
            <video poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
              <source src='images/videos/explore.mp4' type='video/mp4' />
              <source src='images/videos/explore.webm' type='video/webm' />
            </video>
            <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url('images/slider/swiper/3.jpg'); background-position: center top;">
          <div class="container clearfix">
            <div class="slider-caption">
              <h2 data-caption-animate="fadeInUp">Great Performance</h2>
              <p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
            </div>
          </div>
        </div>
      </div>
      <div id="slider-arrow-left"><i class="material-icons">chevron_left</i></div>
      <div id="slider-arrow-right"><i class="material-icons">chevron_right</i></div>
      <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
    </div>

  </div>

</section>
<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="promo promo-light promo-full bottommargin-lg header-stick notopborder">
      <div class="container clearfix">
        <h3>Call us today at <span>+31 40 248 23 11</span> or Email us at <span>support@storecore.org</span></h3>
        <span>We strive to provide Our Customers with Top Notch Support to make their ecommerce Experience Wonderful</span>
        <a href="#" class="button button-dark button-xlarge button-rounded">Start Selling</a>
      </div>
    </div>

    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">shopping_cart</i></i></a>
          </div>
          <h3>e-Commerce Solutions<span class="subtitle">Start your Own Shop today</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">account_balance_wallet</i></a>
          </div>
          <h3>Easy Payment Options<span class="subtitle">Credit Cards &amp; PayPal Support</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">fingerprint</i></a>
          </div>
          <h3>Instant Notifications<span class="subtitle">Realtime Email &amp; SMS Support</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin col_last">
        <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
          <div class="fbox-icon">
            <a href="#"><i class="material-icons">whatshot</i>a>
          </div>
          <h3>Hot Offers Daily<span class="subtitle">Upto 50% Discounts</span></h3>
        </div>
      </div>

      <div class="clear"></div><div class="line bottommargin-lg"></div>

      <div class="col_two_fifth nobottommargin">
        <a href="http://vimeo.com/101373765" data-lightbox="iframe">
          <img src="images/others/1.jpg" alt="Image">
          <span class="i-overlay"><img src="images/icons/play.png" alt="Play"></span>
        </a>
      </div>

      <div class="col_three_fifth nobottommargin col_last">

        <div class="heading-block">
          <h2>Let's talk StoreCore</h2>
        </div>

        <p>Tired of all those software updates or a slow webshop? Keep on reading! We introduce to you: StoreCore, the first open source e-commerce platform built by and for you. We are building not only the fastest e-commerce platform that there is today (loads in just 0.5 s), but we also put mobile first. Yes, from now on you can run your online store from the palm of your hand. We at StoreCore are therefore proud to present to you a dedicated e-commerce platform that grows with you.</p>

      </div>

      <div class="clear"></div>

    </div>

    <div class="section topmargin-lg">
      <div class="container clearfix">

        <div class="heading-block center">
          <h2>Features that you are gonna Love</h2>
          <span>StoreCore comes with 100+ Feature that are easy to use too.</span>
        </div>

        <div class="clear bottommargin-sm"></div>

        <div class="col_one_third">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">phone_android</i></a>
            </div>
            <h3>Mobile First</h3>
            <p>Why not start with mobile? Everyone is using their phones today for almost everything. Now you can use your phone for your business.</p>
          </div>
        </div>

        <div class="col_one_third">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="200">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">whatshot</i></a>
            </div>
            <h3>High Performance</h3>
            <p>We are doing everything to set our goals high. Performance is just one of goals to make your e-commerce site the fastest one.</p>
          </div>
        </div>

        <div class="col_one_third col_last">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="400">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">fingerprint</i></a>
            </div>
            <h3>Security</h3>
            <p>StoreCore is build with security in mind. Not only will you get a free SSL certificate. We also provide the best dedicated hosting services.</p>
          </div>
        </div>

        <div class="clear"></div>

        <div class="col_one_third">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="600">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">local_grocery_store</i></a>
            </div>
            <h3>Dedicated Commerce Platform</h3>
            <p>It is not a blog, community, wiki or knowledgebase. It’s JUST a dedicated e-commerce platform. Built by, for and with e-commerce professionals.</p>
          </div>
        </div>

        <div class="col_one_third">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="800">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">build</i></a>
            </div>
            <h3>Customization</h3>
            <p>You can customize StoreCore in many different ways so it always suit your needs.</p>
          </div>
        </div>

        <div class="col_one_third col_last">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1000">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">autorenew</i></a>
            </div>
            <h3>Evergreen</h3>
            <p>Updating your store can be a pain in the … blind spot. But not with StoreCore. We simply update the core automatically. Automatic updates. Continuous deployment. Yep, that’s it. It’s that simple.</p>
          </div>
        </div>

        <div class="clear"></div>

        <div class="col_one_third nobottommargin">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1200">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">transform</i></a>
            </div>
            <h3>Scalability</h3>
            <p>Start small or big: have it your way with StoreCore. Our software and apps grow with your company. Just try it.</p>
          </div>
        </div>

        <div class="col_one_third nobottommargin">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1400">
            <div class="fbox-icon">
              <a href="#"><i class="icon-heart2"></i></a>
            </div>
            <h3>Community</h3>
            <p>Loved by our community on github. Everyone is helping to make StoreCore the best commerce platform.</p>
          </div>
        </div>

        <div class="col_one_third nobottommargin col_last">
          <div class="feature-box fbox-small fbox-plain" data-animate="fadeIn" data-delay="1600">
            <div class="fbox-icon">
              <a href="#"><i class="material-icons">note</i></a>
            </div>
            <h3>Extensive Documentation</h3>
            <p>We have covered each &amp; everything in our Documentation including Videos &amp; Screenshots.</p>
          </div>
        </div>

        <div class="clear"></div>

      </div>
    </div>

    <div class="container clearfix">

      <div class="container clearfix">

        <div class="heading-block center">
          <h3>Testimonials</h3>
          <span>Check out some of our Client Reviews</span>
        </div>

        <ul class="testimonials-grid grid-3 clearfix nobottommargin">
          <li>
            <div class="testimonial">
              <div class="testi-image">
                <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
                <div class="testi-meta">
                  John Doe
                  <span>XYZ Inc.</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testimonial">
              <div class="testi-image">
                <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                <div class="testi-meta">
                  Collis Ta'eed
                  <span>Envato Inc.</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testimonial">
              <div class="testi-image">
                <a href="#"><img src="images/testimonials/7.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
                <div class="testi-meta">
                  Mary Jane
                  <span>Google Inc.</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testimonial">
              <div class="testi-image">
                <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                <div class="testi-meta">
                  Steve Jobs
                  <span>Apple Inc.</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testimonial">
              <div class="testi-image">
                <a href="#"><img src="images/testimonials/4.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.</p>
                <div class="testi-meta">
                  Jamie Morrison
                  <span>Adobe Inc.</span>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="testimonial">
              <div class="testi-image">
                <a href="#"><img src="images/testimonials/8.jpg" alt="Customer Testimonails"></a>
              </div>
              <div class="testi-content">
                <p>Porro dolorem saepe reiciendis nihil minus neque. Ducimus rem necessitatibus repellat laborum nemo quod.</p>
                <div class="testi-meta">
                  Cyan Ta'eed
                  <span>Tutsplus</span>
                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>

    </div>

    <div class="container clearfix">

      <div id="oc-clients" class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="30" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6" style="padding: 20px 0;">

        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/1.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/2.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/3.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/4.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/5.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/6.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/7.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/8.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/9.png" alt="Clients"></a></div>
        <div class="oc-item"><a href="http://logofury.com/"><img src="images/clients/10.png" alt="Clients"></a></div>

      </div>

    </div>

    <a class="button button-full center tright footer-stick">
      <div class="container clearfix">
        Need help with your free account <strong>Start here</strong> <i class="icon-caret-right" style="top:4px;"></i>
      </div>
    </a>

  </div>


{{ partial "footer" .}} <!-- themes/storecore/partials/footer.html -->
