{{ partial "head" . }} <!-- themes/storecore/partials/head.html -->
{{ partial "nav" . }} <!-- themes/storecore/partials/nav.html -->
<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Pricing</h1>
    <span>Start selling your Subscription Plans attractively</span>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Pricing</li>
    </ol>
  </div>

</section><!-- #page-title end -->

<!-- Content
============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="fancy-title title-dotted-border title-center">
        <h3>Simple StoreCore Pricing</h3>
      </div>

      <div class="pricing bottommargin clearfix">

        <div class="col-sm-4">

          <div class="pricing-box">
            <div class="pricing-title">
              <h3>Free</h3>
            </div>
            <div class="pricing-price">
              <span class="price-unit">&euro;</span>0<span class="price-tenure">/mo</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>FIY</strong> download</li>
                <li>No backups</li>
                <li>No hosting</li>
                <li>No SSL</li>
                <li>Email Support</li>
              </ul>
            </div>
            <div class="pricing-action">
              <a href="#" class="btn btn-danger btn-block btn-lg">Download now</a>
            </div>
          </div>

        </div>

        <div class="col-sm-4">

          <div class="pricing-box best-price">
            <div class="pricing-title">
              <h3>Premium</h3>
              <span>Most Popular</span>
            </div>
            <div class="pricing-price">
              <span class="price-unit">&euro;</span>89<span class="price-tenure">/mo</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Free</strong> installation</li>
                <li>Daily backup</li>
                <li><strong>Fast</strong> hosting</li>
                <li><strong>Free</strong> SSL</li>
                <li><i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i>
                <i class="icon-star3"></i></li>
              </ul>
            </div>
            <div class="pricing-action">
              <a href="#" class="btn btn-danger btn-block btn-lg bgcolor border-color">Sign Up</a>
            </div>
          </div>

        </div>

        <div class="col-sm-4">

          <div class="pricing-box">
            <div class="pricing-title">
              <h3>Pay-As-You-Go</h3>
            </div>
            <div class="pricing-price">
              <span class="price-unit">&euro;</span>39<span class="price-tenure">/mo</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Free</strong> installation</li>
                <li>Daily Backup</li>
                <li><strong>Fast</strong> hosting</li>
                <li><strong>Free</strong> SSL</li>
                <li>Phone &amp; Email Support</li>
              </ul>
            </div>
            <div class="pricing-action">
              <a href="#" class="btn btn-danger btn-block btn-lg">Sign Up</a>
            </div>
          </div>

        </div>

      </div>
      <div class="heading-block center">
        <span>Additional transaction fees, subscriptions or other charges may apply to third-party software and services.</span>
      </div>

{{ partial "footer" .}} <!-- themes/storecore/partials/footer.html -->
