{{ partial "head" . }}
<div class="single-page">
    {{ partial "nav" . }}
</div>

<div class="page documentation">
  <div class="content">

    <h1 class="content-header">{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>
    <div class="reading-time"><div class="middot"></div>{{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}</div>
    <div class="date" title="{{ .Date.Format .Site.Params.dateformfull }}">{{ .Date.Format .Site.Params.dateform }}</div>
    <div id="versions-dropdown" class="dropdown">
      <div class="dropdown__core">
        <div class="dropdown__selected">
          Selected version
        </div>
        <div class="dropdown__chevon">
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
      </div>

      <div class="dropdown__items">

      </div>
    </div>

    <div class="markdowned">
      {{ .Content }}
    </div>
    <br>
    <p><a href="{{ .Section }}">Back to blogs</a></p>
  </div>
</div>
{{ partial "footer" . }}
