.side-menu {
  display: none;
  background-color: #e9e9e9;
  padding: 120px 40px 40px 0;
  height: 100vh;
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
  width: 280px; }
@media all and (min-width: 1025px) {
    .side-menu {
      display: block; } }
  .side-menu__item:not(:first-child) .side-menu__item__link {
    padding-top: 10px; }
  .side-menu__item:last-of-type .side-menu__item__link {
    border-bottom: none !important; }
  .side-menu__item.active > a p {
    color: #000; }
  .side-menu__item__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #96ADAA; }
    .side-menu__item__link__icon {
      width: 22px; }
    .side-menu__item__link__text {
      color: #142D3C;
      margin-left: 18px;
      font-weight: 300;
      letter-spacing: 0.05em;
      font-size: 15px;
      line-height: 1.7; }
  .side-menu__sub__item.active .side-menu__sub__item__text {
    font-weight: 700; }
  .side-menu__sub__item__text {
    display: none;
    color: #142D3C;
    padding: 7px 0 7px 30px;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: 15px;
    line-height: 1.7;
    text-decoration: none; }

.side-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 10px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none; }
  .side-menu-item::-webkit-scrollbar {
    display: none; }
  .side-menu-item .section-title {
    width: 200px; }
  .side-menu-item .folding-indicator {
    width: 40px;
    text-align: right;
    line-height: 0; }
  .side-menu-item.active .text, .side-menu-item.active .markdowned li, .markdowned .side-menu-item.active li, .side-menu-item.active .markdowned td, .markdowned .side-menu-item.active td, .side-menu-item.active .date {
    color: #FF405E; }
  .side-menu-item:first-child {
    padding-top: 0; }
  .side-menu-item:not(:last-child) {
    border-bottom: 1px solid #96ADAA; }

.sub-menu-item {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 7px 0 7px 60px;
  color: #142D3C; }
  .sub-menu-item.active .text, .sub-menu-item.active .markdowned li, .markdowned .sub-menu-item.active li, .sub-menu-item.active .markdowned td, .markdowned .sub-menu-item.active td, .sub-menu-item.active .date {
    font-weight: 500; }

.content {
  padding: 30px 40px 40px 40px;
  background-color: white;
  min-height: 100vh;
  max-width: 980px; }
  @media all and (min-width: 1025px) {
    .content {
      margin-left: 300px;
      padding: 0 40px 40px 80px; } }
  .content .content-header {
    font-size: 32px;
    font-weight: 100;
    line-height: 1.5;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-top: 50px; }

.markdowned h1 {
  font-size: 32px;
  font-weight: 100;
  color: #FF405E;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 25px 0; }

.markdowned h2 {
  font-size: 24px;
  font-weight: 500;
  color: #142D3C;
  line-height: 1.5em;
  letter-spacing: 0.05em;
  margin: 32px 0 12.5px 0;
  padding-top: 100px;
  margin-top: -68px; }

.markdowned h2 + h3 {
  margin-top: 0;
  padding-top: 100px;
  margin-top: -100px !important; }

.markdowned h2 + p {
  margin-top: 0; }

.markdowned h2 + ul {
  margin-top: 0; }

.markdowned h3 {
  font-size: 13px;
  font-weight: 500;
  color: #142D3C;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 32px 0 0 0;
  padding-top: 100px;
  margin-top: -84px !important; }

.markdowned h3 + h4 {
  margin-top: 0; }

.markdowned h3 + p {
  margin-top: 0; }

.markdowned h3 + ul {
  margin-top: 0; }

.markdowned h4 {
  font-size: 13px;
  font-weight: 500;
  color: #142D3C;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 32px 0 0 0;
  padding-top: 100px;
  margin-top: -68px; }

.markdowned h4 + h5 {
  margin-top: 0; }

.markdowned h4 + p {
  margin-top: 0; }

.markdowned h4 + ul {
  margin-top: 0; }

.markdowned h5 {
  font-size: 13px;
  font-weight: 500;
  color: #FF405E;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 25px 0 0 0; }

.markdowned h5 + h6 {
  margin-top: 0; }

.markdowned h5 + p {
  margin-top: 0; }

.markdowned h5 + ul {
  margin-top: 0; }

.markdowned h6 {
  font-size: 15px;
  font-weight: 500;
  color: #142D3C;
  line-height: 1.7;
  letter-spacing: 0.025em;
  margin: 25px 0; }

.markdowned p {
  font-size: 15px;
  font-weight: 300;
  color: #142D3C;
  line-height: 1.5;
  letter-spacing: 0.025em;
  margin: 25px 0; }

.markdowned p + ul {
  margin-top: 0; }

.markdowned p + ol {
  margin-top: 0; }

.markdowned a {
  font-size: 15px;
  font-weight: 300;
  color: #6991AA;
  line-height: 1.7;
  letter-spacing: 0.025em;
  text-decoration: underline;
  margin: 25px 0; }

.markdowned ol {
  margin: 10px 30px; }

.markdowned ul {
  list-style-type: square;
  margin: 10px 30px; }

.markdowned li {
  font-weight: 300;
  margin: 10px 0; }
  .markdowned li:first-of-type {
    margin-top: 0; }
  .markdowned li:last-of-type {
    margin-bottom: 0; }

.markdowned em {
  color: #142D3C;
  font-weight: 200; }

.markdowned strong {
  font-weight: 500; }

.markdowned code {
  font-family: 'Roboto Mono', monospace; }

.markdowned p > code, .markdowned li > code {
  background-color: #F7F8F9;
  padding: 0 5px; }

.markdowned .hljs {
  padding: 40px 20px 40px 20px;
  font-size: 14px;
  background-color: #F7F8F9; }
  .markdowned .hljs span {
    font-weight: 300; }

.markdowned table {
  margin: 40px 0;
  width: 100%; }

.markdowned th {
  text-transform: capitalize; }

.markdowned td, .markdowned th {
  text-align: left;
  padding: 20px 40px;
  border-bottom: 1px solid #F0F5FA; }
  .markdowned td:first-of-type, .markdowned th:first-of-type {
    padding-left: 10px; }
  .markdowned td:last-of-type, .markdowned th:last-of-type {
    padding-right: 10px; }

.markdowned tr:last-of-type td {
  -webkit-transition: 0.1s ease-in background-color;
  transition: 0.1s ease-in background-color;
  border-bottom: none; }

.markdowned tr:hover td {
  background-color: #F0F5FA; }

.dropdown {
  margin: 20px 0;
  background-color: #e9e9e9;
  height: 40px;
  width: 240px;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  z-index: 100;
  display: none; }
  .dropdown__active {
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
    .dropdown__active .dropdown__core {
      border-radius: 5px 5px 0 0; }
    .dropdown__active .dropdown__items {
      display: block; }
  .dropdown__core {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    background-color: #e9e9e9;
    border-radius: 5px; }
  .dropdown__selected {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 20px; }
  .dropdown__chevon {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .dropdown__items {
    position: absolute;
    background-color: white;
    top: 40px;
    left: 0;
    right: 0;
    border-left: 1px #F0F5FA solid;
    border-right: 1px #F0F5FA solid;
    border-bottom: 1px #F0F5FA solid;
    border-radius: 0 0 4px 4px;
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 2; }
  .dropdown__item {
    height: 40px;
    width: 100%;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .dropdown__item i {
      display: none;
      margin-right: 10px; }
    .dropdown__item.selected {
      font-weight: 500; }
      .dropdown__item.selected i {
        display: block; }
    .dropdown__item:not(:last-of-type) {
      border-bottom: 1px #F0F5FA solid; }
