 {{ range first 1 (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
  {{ $.Scratch.Set "has_related" true }}
 {{ end }}
 {{ if $.Scratch.Get "has_related" }}
<h4>Related Articles:</h4>
<div class="related-posts clearfix">
  {{ $num_to_show := .Site.Params.related_content_limit | default 4 }}
  {{ range $index, $element := first $num_to_show (where (where .Site.Pages ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
  {{ if (eq $index 0) }}
  <div class="col_half nobottommargin">
  {{end }}
  {{ if (eq $index 2) }}
  <div class="col_half nobottommargin col_last">
  {{end }}
    <div class="mpost clearfix">
        <div class="entry-image">
            <a href="{{ .Permalink }}">
              <img alt="{{ .Title }}" src="{{ .Site.BaseURL }}{{ .Params.thumbnail | default "images/blog/small/20.jpg" }}"></a>
        </div>
        <div class="entry-c">
            <div class="entry-title">
                <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> {{ .Date.Format .Site.Params.dateform }}</li>
                <li>
                    <a href="#"><i class="icon-comments"></i> 12</a>
                </li>
            </ul>
            <div class="entry-content">
                {{ slicestr .Summary 0 155 }}... {{ if .Truncated }}<a href="{{ .Permalink }}">Read More</a>{{ end }}
            </div>
        </div>
    </div>
  {{ if or (eq $index 1) (eq $index 3) }}
  </div>
  {{ end }}
  {{ end }}
</div>
{{ end }}
