<div id="sc-footer">
  <div>
    <span class="mdl-layout-title">
      <a href="http://storecore.io/" title="StoreCore">
        <amp-img alt="StoreCore" height="64" src="/images/StoreCore-icon-64x64.png" width="64"></amp-img> <strong>Store</strong>Core</span>
      </a>
    </span>
    <p><a href="/" title="StoreCore">E-commerce in the palm of your hand</a></p>
  </div>
  <div itemscope itemtype="http://schema.org/Organization">
    <a href="https://github.com/storecore/core/" itemprop="sameAs" target="_blank" rel="noopener" title="GitHub">
      <amp-img alt="GitHub" height="48" layout="fixed" src="/images/github-box-white-48x48.png" width="48"></amp-img>
    </a>
    <a href="https://twitter.com/storecorehq" itemprop="sameAs" target="_blank" rel="noopener" title="Twitter">
      <amp-img alt="Twitter" height="48" layout="fixed" src="/images/twitter-box-white-48x48.png" width="48"></amp-img>
    </a>
    <a href="https://www.facebook.com/StoreCoreHQ/" itemprop="sameAs" target="_blank" rel="noopener" title="Facebook">
      <amp-img alt="Facebook" height="48" layout="fixed" src="/images/facebook-box-white-48x48.png" width="48"></amp-img>
    </a>
    <a href="https://www.linkedin.com/company/StoreCoreHQ" itemprop="sameAs" target="_blank" rel="noopener" title="LinkedIn">
      <amp-img alt="LinkedIn" height="48" layout="fixed" src="/images/linkedin-box-white-48x48.png" width="48"></amp-img>
    </a>
  </div>
</div>
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <ul class="mdl-mini-footer__link-list">
      <li>Copyright © 2017 <a href="http://storecore.io/" title="StoreCore">StoreCore</a>™</li>
      <li><a href="https://github.com/storecore/core/blob/develop/CONTRIBUTING.md">Help</a></li>
      <li><a href="https://storecore-io.cdn.ampproject.org/c/storecore.io/privacy/">Privacy</a></li>
      <li><a href="https://storecore-io.cdn.ampproject.org/c/storecore.io/license/">License</a></li>
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <address>
      <a href="/contact/">
        StoreCore · Wildeman 62 · 5629 KH Eindhoven · The Netherlands
        <br>Chamber of Commerce 23083293 · VAT number NL 141226377B01
      </a>
    </address>
  </div>
</footer>
