<div class="mdl-layout__header-row">
  <span class="mdl-layout-title">
    <a href="http://storecore.io/">
      <amp-img alt="StoreCore" height="64" layout="fixed" src="/images/StoreCore-icon-64x64.png" width="64"></amp-img> <strong>Store</strong>Core</span>
    </a>
  <div class="mdl-layout-spacer"></div>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/plans-and-pricing/">Plans and pricing</a>
    <a class="mdl-navigation__link" href="https://goo.gl/forms/sUNf9y08m4MpGs9F2" rel="nofollow">Beta sign-up</a>
    <a class="mdl-navigation__link" href="https://github.com/storecore/core/blob/develop/CONTRIBUTING.md">Resources</a>
    <a class="mdl-navigation__link" href="/contact/">Contact</a>
  </nav>
</div>
