<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="/"><i class="material-icons" role="presentation">&#xE88A;</i> Home</a>
  <a class="mdl-navigation__link" href="/plans-and-pricing/"><i class="material-icons" role="presentation">&#xE0AF;</i> Plans and pricing</a>
  <a class="mdl-navigation__link" href="https://goo.gl/forms/sUNf9y08m4MpGs9F2" rel="nofollow"><i class="material-icons" role="presentation">&#xE7FE;</i> Beta sign-up</a>
  <a class="mdl-navigation__link" href="https://github.com/storecore/core/blob/develop/CONTRIBUTING.md"><i class="material-icons" role="presentation">school</i> Resources</a>
  <a class="mdl-navigation__link" href="/contact/"><i class="material-icons" role="presentation">&#xE0BE;</i> Contact</a>
  <a class="mdl-navigation__link" href="/thanks/"><i class="material-icons" role="presentation">people</i> Thanks</a>
</nav>
