{{ $dayFormat := default "2" (index .Site.Params "date_format") }}
{{ $monthFormat := default "Jan" (index .Site.Params "date_format") }}
<div class="post-timeline clearfix" id="posts">
	<div class="timeline-border"></div>
	<div class="entry clearfix">
		<div class="entry-timeline">
      {{ .Date.Format $dayFormat }}<span>{{ .Date.Format $monthFormat }}</span>
			<div class="timeline-divider"></div>
		</div>
		<div class="entry-image">
			<a data-lightbox="image" href="/images/blog/full/17.jpg"><img alt="Standard Post with Image" class="image_fade" src="/images/blog/standard/17.jpg" style="opacity: 1;"></a>
		</div>
		<div class="entry-title">
			<h2><a href="{{ .Permalink }}">{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</a></h2>
		</div>
		<ul class="entry-meta clearfix">
			<li>
				<a href="#"><i class="icon-user"></i> {{ .Params.author | default .Site.Params.author }}</a>
			</li>
			<li>
				<i class="icon-folder-open"></i> <a href="#">{{ if or (.Params.categories) (.Params.tags) }} {{ partial "meta/meta-cats.html" . }}{{ end }}</a>
			</li>
			<li>
				<a href="{{ .Permalink }}#disqus_thread" class="disqus-comment-count" data-disqus-identifier="{{ .UniqueID }}"><i class="icon-comments"></i> Comments</a>
			</li>
			<li>
				<a href="#"><i class="icon-camera-retro"></i></a>
			</li>
		</ul>
		<div class="entry-content">
			<p>{{ .Summary }}</p><a class="more-link" data-disqus-id="{{ .UniqueID }}" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
		</div>
	</div>
</div><!-- #posts end -->
