{{ $dayFormat := default "2" (index .Site.Params "date_format") }}
{{ $monthFormat := default "Jan" (index .Site.Params "date_format") }}

<div id="posts" class="post-timeline clearfix">

  <div class="timeline-border"></div>

  <div class="entry clearfix">
    <div class="entry-timeline">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}"></time>
      {{ .Date.Format $dayFormat }}<span>{{ .Date.Format $monthFormat }}</span>
      <div class="timeline-divider"></div>
    </div>
    <div class="entry-image">
      <a href="/images/blog/full/17.jpg" data-lightbox="image"><img class="image_fade" src="/images/blog/standard/17.jpg" alt="Standard Post with Image" style="opacity: 1;"></a>
    </div>
    <div class="entry-title">
      <h2><a href="{{ .Permalink }}">{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</a></h2>
    </div>
    <ul class="entry-meta clearfix">
      <li><a href="#"><i class="icon-user"></i> {{ .Params.author | default .Site.Params.author }}</a></li>
      <li><i class="icon-folder-open"></i> <a href="#">{{ if or (.Params.categories) (.Params.tags) }} {{ partial "meta-cats.html" . }}{{ end }}</a></li>
      <li><a href="blog-single.php#comments"><i class="icon-comments"></i> 13 Comments</a></li>
      <li><a href="#"><i class="icon-camera-retro"></i></a></li>
    </ul>
    <div class="entry-content">
      <p>{{ .Summary }}</p>
      <a href="{{ .Permalink }}" data-disqus-url="{{ .relURL }}" class="more-link">{{ i18n "readMore" }}</a>
    </div>
  </div>

</div><!-- #posts end -->
