		<!-- Header
		============================================= -->
		<header id="header" class="full-header">

			<div id="header-wrap" class="">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.php" class="standard-logo" data-dark-logo="/images/logo-dark.png"><img src="/images/logo.png" alt="Canvas Logo"></a>
						<a href="index.php" class="retina-logo" data-dark-logo="/images/logo-dark@2x.png"><img src="/images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul class="sf-js-enabled" style="touch-action: pan-y;">
							<li class="sub-menu"><a href="index.php" class="sf-with-ul"><div>Home</div></a>
								<ul style="display: none;">
									<li class="sub-menu"><a href="index-corporate.php" class="sf-with-ul"><div>Home - Corporate</div></a>
										<ul style="display: none;">
											<li><a href="index-corporate.php"><div>Corporate - Layout 1</div></a></li>
											<li><a href="index-corporate-2.php"><div>Corporate - Layout 2</div></a></li>
											<li><a href="index-corporate-3.php"><div>Corporate - Layout 3</div></a></li>
											<li><a href="index-corporate-4.php"><div>Corporate - Layout 4</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="index-portfolio.php" class="sf-with-ul"><div>Home - Portfolio</div></a>
										<ul style="display: none;">
											<li><a href="index-portfolio.php"><div>Portfolio - Layout 1</div></a></li>
											<li><a href="index-portfolio-2.php"><div>Portfolio - Layout 2</div></a></li>
											<li><a href="index-portfolio-3.php"><div>Portfolio - Masonry</div></a></li>
											<li><a href="index-portfolio-4.php"><div>Portfolio - AJAX</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="index-blog.php" class="sf-with-ul"><div>Home - Blog</div></a>
										<ul style="display: none;">
											<li><a href="index-blog.php"><div>Blog - Layout 1</div></a></li>
											<li><a href="index-blog-2.php"><div>Blog - Layout 2</div></a></li>
											<li><a href="index-blog-3.php"><div>Blog - Layout 3</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="index-shop.php" class="sf-with-ul"><div>Home - Shop</div></a>
										<ul style="display: none;">
											<li><a href="index-shop.php"><div>Shop - Layout 1</div></a></li>
											<li><a href="index-shop-2.php"><div>Shop - Layout 2</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="index-magazine.php" class="sf-with-ul"><div>Home - Magazine</div></a>
										<ul style="display: none;">
											<li><a href="index-magazine.php"><div>Magazine - Layout 1</div></a></li>
											<li><a href="index-magazine-2.php"><div>Magazine - Layout 2</div></a></li>
											<li><a href="index-magazine-3.php"><div>Magazine - Layout 3</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="landing.php" class="sf-with-ul"><div>Home - Landing Page</div></a>
										<ul style="display: none;">
											<li><a href="landing.php"><div>Landing Page - Layout 1</div></a></li>
											<li><a href="landing-2.php"><div>Landing Page - Layout 2</div></a></li>
											<li><a href="landing-3.php"><div>Landing Page - Layout 3</div></a></li>
											<li><a href="landing-4.php"><div>Landing Page - Layout 4</div></a></li>
											<li><a href="landing-5.php"><div>Landing Page - Layout 5</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="index-fullscreen-image.php" class="sf-with-ul"><div>Home - Full Screen</div></a>
										<ul style="display: none;">
											<li><a href="index-fullscreen-image.php"><div>Full Screen - Image</div></a></li>
											<li><a href="index-fullscreen-slider.php"><div>Full Screen - Slider</div></a></li>
											<li><a href="index-fullscreen-video.php"><div>Full Screen - Video</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="index-onepage.php" class="sf-with-ul"><div>Home - One Page</div></a>
										<ul style="display: none;">
											<li><a href="index-onepage.php"><div>One Page - Default</div></a></li>
											<li><a href="index-onepage-2.php"><div>One Page - Submenu</div></a></li>
											<li><a href="index-onepage-3.php"><div>One Page - Dots Style</div></a></li>
										</ul>
									</li>
									<li><a href="index-wedding.php"><div>Home - Wedding</div></a></li>
									<li><a href="index-restaurant.php"><div>Home - Restaurant</div></a></li>
									<li><a href="index-events.php"><div>Home - Events</div></a></li>
									<li><a href="index-parallax.php"><div>Home - Parallax</div></a></li>
									<li><a href="index-app-showcase.php"><div>Home - App Showcase</div></a></li>
									<li><a href="index-boxed.php"><div>Home - Boxed Layout</div></a></li>
								</ul>
							</li>
							<li class="sub-menu"><a href="#" class="sf-with-ul"><div>Features</div></a>
								<ul style="display: none;">
									<li class="sub-menu"><a href="#" class="sf-with-ul"><div><i class="icon-stack"></i>Sliders</div></a>
										<ul style="display: none;">
											<li class="sub-menu"><a href="slider-revolution.php" class="sf-with-ul"><div>Revolution Slider</div></a>
												<ul style="display: none;">
													<li><a href="rs-demo-premium-concept.php"><div>Premium Templates</div></a></li>
													<li><a href="slider-revolution.php"><div>Full Screen</div></a></li>
													<li><a href="slider-revolution-fullwidth.php"><div>Full Width</div></a></li>
													<li><a href="slider-revolution-kenburns.php"><div>Kenburns Effect</div></a></li>
													<li><a href="slider-revolution-html5-videos.php"><div>HTML5 Video</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="slider-canvas.php" class="sf-with-ul"><div>Canvas Slider</div></a>
												<ul style="display: none;">
													<li><a href="slider-canvas.php"><div>Full Width</div></a></li>
													<li><a href="slider-canvas-fade.php"><div>Fade Transition</div></a></li>
													<li><a href="slider-canvas-autoplay.php"><div>Autoplay Feature</div></a></li>
													<li><a href="slider-canvas-video-event.php"><div>Custom Video Event</div></a></li>
													<li><a href="slider-canvas-pagination.php"><div>Pagination Navigation</div></a></li>
													<li><a href="slider-canvas-3.php"><div>3 Columns</div></a></li>
													<li><a href="slider-canvas-4.php"><div>4 Columns</div></a></li>
													<li><a href="slider-canvas-5.php"><div>5 Columns</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="slider-flex.php" class="sf-with-ul"><div>Flex Slider</div></a>
												<ul style="display: none;">
													<li><a href="slider-flex.php"><div>Default Layout</div></a></li>
													<li><a href="slider-flex-thumbs.php"><div>with Thumbs</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="slider-owl.php" class="sf-with-ul"><div>Owl Slider</div></a>
												<ul style="display: none;">
													<li><a href="slider-owl-full.php"><div>Full Width</div></a></li>
													<li><a href="slider-owl.php"><div>Boxed Width</div></a></li>
													<li><a href="slider-owl-videos.php"><div>Video Slider</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="static-parallax.php" class="sf-with-ul"><div>Static Media</div></a>
												<ul style="display: none;">
													<li><a href="static-parallax.php"><div>Static - Parallax</div></a></li>
													<li><a href="static-image.php"><div>Static - Image</div></a></li>
													<li><a href="static-thumbs-grid.php"><div>Static - Thumb Gallery</div></a></li>
													<li><a href="static-html5-video.php"><div>Static - HTML5 Video</div></a></li>
													<li><a href="static-embed-video.php"><div>Static - Embedded Video</div></a></li>
												</ul>
											</li>
											<li><a href="slider-camera.php"><div>Camera Slider</div></a></li>
											<li><a href="slider-elastic.php"><div>Elastic Slider</div></a></li>
											<li><a href="slider-nivo.php"><div>Nivo Slider</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="widgets.php" class="sf-with-ul"><div><i class="icon-gift"></i>Widgets</div></a>
										<ul style="display: none;">
											<li><a href="widgets.php"><div>Links</div></a></li>
											<li><a href="widgets.php"><div>Flickr Photostream</div></a></li>
											<li><a href="widgets.php"><div>Dribbble Shots</div></a></li>
											<li><a href="widgets.php"><div>Instagram Feed</div></a></li>
											<li><a href="widgets.php"><div>Posts List</div></a></li>
											<li><a href="widgets.php"><div>Twitter Feed</div></a></li>
											<li><a href="widgets.php"><div>Tabbed Widgets</div></a></li>
											<li><a href="widgets.php"><div>Carousel</div></a></li>
											<li><a href="widgets.php"><div>Subscribers</div></a></li>
											<li><a href="widgets.php"><div>Social Icons</div></a></li>
											<li><a href="widgets.php"><div>Testimonials</div></a></li>
											<li><a href="widgets.php"><div>Quick Contact</div></a></li>
											<li><a href="widgets.php"><div>Tags Cloud</div></a></li>
											<li><a href="widgets.php"><div>Video Embeds</div></a></li>
											<li><a href="widgets.php"><div>Raw Text/HTML</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="#" class="sf-with-ul"><div><i class="icon-umbrella"></i>Headers</div></a>
										<ul style="display: none;">
											<li><a href="header-light.php"><div>Light Version</div></a></li>
											<li><a href="header-dark.php"><div>Dark Version</div></a></li>
											<li><a href="header-transparent.php"><div>Transparent</div></a></li>
											<li class="sub-menu"><a href="header-semi-transparent.php" class="sf-with-ul"><div>Semi Transparent</div></a>
												<ul style="display: none;">
													<li><a href="header-semi-transparent.php"><div>Light Version</div></a></li>
													<li><a href="header-semi-transparent-dark.php"><div>Dark Version</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="header-side-left.php" class="sf-with-ul"><div>Left Side Header</div></a>
												<ul style="display: none;">
													<li><a href="header-side-left.php"><div>Fixed Position</div></a></li>
													<li><a href="header-side-left-open.php"><div>OnClick Open</div></a></li>
													<li><a href="header-side-left-open-push.php"><div>Push Content</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="header-side-right.php" class="sf-with-ul"><div>Right Side Header</div></a>
												<ul style="display: none;">
													<li><a href="header-side-right.php"><div>Fixed Position</div></a></li>
													<li><a href="header-side-right-open.php"><div>OnClick Open</div></a></li>
													<li><a href="header-side-right-open-push.php"><div>Push Content</div></a></li>
												</ul>
											</li>
											<li><a href="header-floating.php"><div>Floating Version</div></a></li>
											<li><a href="static-sticky.php"><div>Static Sticky</div></a></li>
											<li><a href="responsive-sticky.php"><div>Responsive Sticky</div></a></li>
											<li><a href="logo-changer.php"><div>Alternate Logos</div></a></li>
											<li><a href="alternate-mobile-menu.php"><div>Alternate Mobile Menu</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="side-panel.php" class="sf-with-ul"><div><i class="icon-line-layout"></i>Side Panel</div></a>
										<ul style="display: none;">
											<li><a href="side-panel-left-overlay.php"><div>Left Overlay</div></a></li>
											<li><a href="side-panel-left-push.php"><div>Left Push</div></a></li>
											<li><a href="side-panel-right-overlay.php"><div>Right Overlay</div></a></li>
											<li><a href="side-panel.php"><div>Right Push</div></a></li>
											<li><a href="side-panel-light.php"><div>Light Background</div></a></li>
										</ul>
									</li>
									<li><a href="mega-menu.php"><div><i class="icon-line-columns"></i>Mega Menu</div></a></li>
									<li class="sub-menu"><a href="#" class="sf-with-ul"><div><i class="icon-align-justify2"></i>Menu Styles</div></a>
										<ul style="display: none;">
											<li><a href="header-light.php"><div>Menu - Style 1</div></a></li>
											<li><a href="menu-2.php"><div>Menu - Style 2</div></a></li>
											<li><a href="menu-3.php"><div>Menu - Style 3</div></a></li>
											<li><a href="menu-4.php"><div>Menu - Style 4</div></a></li>
											<li><a href="menu-5.php"><div>Menu - Style 5</div></a></li>
											<li><a href="menu-6.php"><div>Menu - Style 6</div></a></li>
											<li><a href="menu-7.php"><div>Menu - Style 7</div></a></li>
											<li><a href="menu-8.php"><div>Menu - Style 8</div></a></li>
											<li><a href="menu-9.php"><div>Menu - Style 9</div></a></li>
											<li><a href="menu-10.php"><div>Menu - Overlay</div></a></li>
											<li><a href="split-menu.php"><div>Menu - Split Layout</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="#" class="sf-with-ul"><div><i class="icon-ok-sign"></i>Page Titles</div></a>
										<ul style="display: none;">
											<li><a href="page.php"><div>Left Align</div></a></li>
											<li><a href="page-title-right.php"><div>Right Align</div></a></li>
											<li><a href="page-title-center.php"><div>Center Align</div></a></li>
											<li><a href="page-titledark.php"><div>Dark Style</div></a></li>
											<li><a href="page-title-pattern.php"><div>Pattern Background</div></a></li>
											<li class="sub-menu"><a href="page-title-parallax.php" class="sf-with-ul"><div>Parallax Background</div></a>
												<ul style="display: none;">
													<li><a href="page-title-parallax.php"><div>Default Header</div></a></li>
													<li><a href="page-title-parallax-header.php"><div>Transparent Header</div></a></li>
												</ul>
											</li>
											<li><a href="page-title-video.php"><div>HTML5 Video</div></a></li>
											<li><a href="page-title-nobg.php"><div>No Background</div></a></li>
											<li><a href="page-title-mini.php"><div>Mini Version</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="contact.php" class="sf-with-ul"><div><i class="icon-envelope-alt"></i>Contact Pages</div></a>
										<ul style="display: none;">
											<li><a href="contact.php">Contact 1</a></li>
											<li><a href="contact-2.php">Contact 2</a></li>
											<li><a href="contact-3.php">Contact 3</a></li>
											<li><a href="contact-4.php">Contact 4</a></li>
											<li><a href="contact-5.php">Contact 5</a></li>
											<li><a href="contact-6.php">Contact 6</a></li>
											<li><a href="contact-7.php">Contact 7</a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="#footer" data-scrollto="#footer" class="sf-with-ul"><div><i class="icon-th"></i>Footers</div></a>
										<ul style="display: none;">
											<li><a href="sticky-footer.php"><div>Sticky Footer</div></a></li>
											<li><a href="#footer" data-scrollto="#footer"><div>Footer - Layout 1</div></a></li>
											<li><a href="footer-2.php#footer"><div>Footer - Layout 2</div></a></li>
											<li><a href="footer-3.php#footer"><div>Footer - Layout 3</div></a></li>
											<li><a href="footer-4.php#footer"><div>Footer - Layout 4</div></a></li>
											<li><a href="footer-5.php#footer"><div>Footer - Layout 5</div></a></li>
											<li><a href="footer-6.php#footer"><div>Footer - Layout 6</div></a></li>
											<li><a href="footer-7.php#footer"><div>Footer - Layout 7</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="#" class="sf-with-ul"><div><i class="icon-calendar3"></i>Events</div></a>
										<ul style="display: none;">
											<li><a href="events-calendar.php"><div>Full Width Calendar</div></a></li>
											<li class="sub-menu"><a href="events-list.php" class="sf-with-ul"><div>Events List</div></a>
												<ul style="display: none;">
													<li><a href="events-list.php"><div>Right Sidebar</div></a></li>
													<li><a href="events-list-left-sidebar.php"><div>Left Sidebar</div></a></li>
													<li><a href="events-list-both-sidebar.php"><div>Both Sidebar</div></a></li>
													<li><a href="events-list-fullwidth.php"><div>Full Width</div></a></li>
													<li><a href="events-list-parallax.php"><div>Parallax List</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="event-single.php" class="sf-with-ul"><div>Single Event</div></a>
												<ul style="display: none;">
													<li><a href="event-single-right-sidebar.php"><div>Right Sidebar</div></a></li>
													<li><a href="event-single-left-sidebar.php"><div>Left Sidebar</div></a></li>
													<li><a href="event-single-both-sidebar.php"><div>Both Sidebar</div></a></li>
													<li><a href="event-single.php"><div>Full Width</div></a></li>
												</ul>
											</li>
											<li class="sub-menu"><a href="event-single-full-width-image.php" class="sf-with-ul"><div>Single Event - Full</div></a>
												<ul style="display: none;">
													<li><a href="event-single-full-width-image.php"><div>Parallax Image</div></a></li>
													<li><a href="event-single-full-width-map.php"><div>Google Map</div></a></li>
													<li><a href="event-single-full-width-slider.php"><div>Slider Gallery</div></a></li>
													<li><a href="event-single-full-width-video.php"><div>HTML5 Video</div></a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="sub-menu"><a href="modal-onload.php" class="sf-with-ul"><div><i class="icon-line-expand"></i>Modal OnLoad</div></a>
										<ul style="display: none;">
											<li><a href="modal-onload.php"><div>Simple Layout</div></a></li>
											<li><a href="modal-onload-iframe.php"><div>Video iFrame</div></a></li>
											<li><a href="modal-onload-subscribe.php"><div>Subscription Form</div></a></li>
											<li><a href="modal-onload-common-height.php"><div>Common Height</div></a></li>
											<li><a href="modal-onload-cookie.php"><div>Cookies Enabled</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="coming-soon.php" class="sf-with-ul"><div><i class="icon-time"></i>Coming Soon</div></a>
										<ul style="display: none;">
											<li><a href="coming-soon.php"><div>Simple Layout</div></a></li>
											<li><a href="coming-soon-2.php"><div>Parallax Image</div></a></li>
											<li><a href="coming-soon-3.php"><div>HTML5 Video</div></a></li>
										</ul>
									</li>
									<li><a href="profile.php"><div><i class="icon-user"></i>User Profile</div></a></li>
								</ul>
							</li>
							<li class="mega-menu sub-menu"><a href="#" class="sf-with-ul"><div>Pages</div></a>
								<div class="mega-menu-content style-2 clearfix" style="display: none; width: 1220px;">
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Introduction</div></a>
											<ul style="display: none;">
												<li><a href="about.php"><div>About Us</div></a></li>
												<li><a href="about-2.php"><div>About Us - Layout 2</div></a></li>
												<li><a href="about-me.php"><div>About Me</div></a></li>
												<li><a href="team.php"><div>Team Members</div></a></li>
												<li><a href="jobs.php"><div>Careers</div></a></li>
												<li><a href="side-navigation.php"><div>Side Navigation</div></a></li>
												<li><a href="page-submenu.php"><div>Page Submenu</div></a></li>
												<li><a href="sitemap.php"><div>Sitemap</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Utility</div></a>
											<ul style="display: none;">
												<li><a href="services.php"><div>Services - Layout 1</div></a></li>
												<li><a href="services-2.php"><div>Services - Layout 2</div></a></li>
												<li><a href="services-3.php"><div>Services - Layout 3</div></a></li>
												<li><a href="faqs.php"><div>FAQs - Layout 1</div></a></li>
												<li><a href="faqs-2.php"><div>FAQs - Layout 2</div></a></li>
												<li><a href="faqs-3.php"><div>FAQs - Layout 3</div></a></li>
												<li><a href="faqs-4.php"><div>FAQs - Layout 4</div></a></li>
												<li><a href="maintenance.php"><div>Maintenance Page</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Layout Grids</div></a>
											<ul style="display: none;">
												<li><a href="full-width.php"><div>Full Width</div></a></li>
												<li><a href="full-width-wide.php"><div>Full Width - Wide</div></a></li>
												<li><a href="right-sidebar.php"><div>Right Sidebar</div></a></li>
												<li><a href="left-sidebar.php"><div>Left Sidebar</div></a></li>
												<li><a href="sticky-sidebar.php"><div>Sticky Sidebar <div class="label bgcolor nott" style="position: relative; top: -1px; margin-left: 5px;">New</div></div></a></li>
												<li><a href="both-right-sidebar.php"><div>Both Right Sidebar</div></a></li>
												<li><a href="both-left-sidebar.php"><div>Both Left Sidebar</div></a></li>
												<li><a href="blank-page.php"><div>Blank Page</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Miscellaneous</div></a>
											<ul style="display: none;">
												<li><a href="login-register.php"><div>Login/Register</div></a></li>
												<li><a href="login-register-2.php"><div>Login/Register - Style 2</div></a></li>
												<li><a href="login-register-3.php"><div>Login/Register - Style 3</div></a></li>
												<li><a href="login-1.php"><div>Login - Style 1</div></a></li>
												<li><a href="login-2.php"><div>Login - Style 2</div></a></li>
												<li><a href="404.php"><div>404 - Simple Layout</div></a></li>
												<li><a href="404-2.php"><div>404 - Parallax Image</div></a></li>
												<li><a href="404-3.php"><div>404 - HTML5 Video</div></a></li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li class="mega-menu sub-menu"><a href="#" class="sf-with-ul"><div>Portfolio</div></a>
								<div class="mega-menu-content style-2 clearfix" style="display: none; width: 1220px;">
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Grids</div></a>
											<ul style="display: none;">
												<li><a href="portfolio-1.php"><div>1 Column</div></a></li>
												<li><a href="portfolio-2.php"><div>2 Columns</div></a></li>
												<li><a href="portfolio-3.php"><div>3 Columns</div></a></li>
												<li><a href="portfolio.php"><div>4 Columns</div></a></li>
												<li><a href="portfolio-5.php"><div>5 Columns</div></a></li>
												<li><a href="portfolio-6.php"><div>6 Columns</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Masonry</div></a>
											<ul style="display: none;">
												<li><a href="portfolio-mixed-masonry.php"><div>Mixed Columns</div></a></li>
												<li><a href="portfolio-2-masonry.php"><div>2 Columns</div></a></li>
												<li><a href="portfolio-3-masonry.php"><div>3 Columns</div></a></li>
												<li><a href="portfolio-masonry.php"><div>4 Columns</div></a></li>
												<li><a href="portfolio-5-masonry.php"><div>5 Columns</div></a></li>
												<li><a href="portfolio-6-masonry.php"><div>6 Columns</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Loading Styles</div></a>
											<ul style="display: none;">
												<li><a href="portfolio.php"><div>jQuery Filter</div></a></li>
												<li><a href="portfolio-jpagination.php"><div>jQuery Pagination</div></a></li>
												<li><a href="portfolio-infinity-scroll.php"><div>Infinity Scroll</div></a></li>
												<li><a href="portfolio-ajax.php"><div>AJAX In Page</div></a></li>
												<li><a href="portfolio-ajax-in-modal.php"><div>AJAX In Modal</div></a></li>
												<li><a href="portfolio-filter-styles.php"><div>Filter Styles</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Single Project</div></a>
											<ul style="display: none;">
												<li><a href="portfolio-single-extended.php"><div>Extended Item</div></a></li>
												<li><a href="portfolio-single-fullwidth.php"><div>Parallax Image</div></a></li>
												<li><a href="portfolio-single-gallery-full.php"><div>Slider Gallery</div></a></li>
												<li><a href="portfolio-single-video-fullwidth-left-sidebar.php"><div>HTML5 Video</div></a></li>
												<li><a href="portfolio-single-thumbs-right-sidebar.php"><div>Masonry Thumbs</div></a></li>
												<li><a href="portfolio-single-video-both-sidebar.php"><div>Embed Video</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Layouts</div></a>
											<ul style="display: none;">
												<li><a href="portfolio-nomargin.php"><div>Default</div></a></li>
												<li><a href="portfolio-1-alt-right-sidebar.php"><div>Right Sidebar</div></a></li>
												<li><a href="portfolio-3-left-sidebar.php"><div>Left Sidebar</div></a></li>
												<li><a href="portfolio-2-both-sidebar.php"><div>Both Sidebar</div></a></li>
												<li><a href="portfolio-fullwidth-notitle.php"><div>100% Width</div></a></li>
												<li><a href="portfolio-parallax.php"><div>Parallax</div></a></li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li class="mega-menu sub-menu"><a href="#" class="sf-with-ul"><div>Blog</div></a>
								<div class="mega-menu-content style-2 clearfix" style="display: none; width: 1220px;">
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Default</div></a>
											<ul style="display: none;">
												<li><a href="blog.php"><div>Right Sidebar</div></a></li>
												<li><a href="blog-left-sidebar.php"><div>Left Sidebar</div></a></li>
												<li><a href="blog-both-sidebar.php"><div>Both Sidebar</div></a></li>
												<li><a href="blog-full-width.php"><div>Full Width</div></a></li>
											</ul>
										</li>
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Timeline</div></a>
											<ul style="display: none;">
												<li><a href="blog-timeline-right-sidebar.php"><div>Right Sidebar</div></a></li>
												<li><a href="blog-timeline-left-sidebar.php"><div>Left Sidebar</div></a></li>
												<li><a href="blog-timeline.php"><div>Full Width</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Masonry</div></a>
											<ul style="display: none;">
												<li><a href="blog-masonry.php"><div>4 Columns</div></a></li>
												<li><a href="blog-masonry-3.php"><div>3 Columns</div></a></li>
												<li><a href="blog-masonry-2.php"><div>2 Columns</div></a></li>
												<li><a href="blog-masonry-full.php"><div>100% Width</div></a></li>
											</ul>
										</li>
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Grid</div></a>
											<ul style="display: none;">
												<li><a href="blog-grid.php"><div>4 Columns</div></a></li>
												<li><a href="blog-grid-3.php"><div>3 Columns</div></a></li>
												<li><a href="blog-grid-2.php"><div>2 Columns</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Small Thumbs</div></a>
											<ul style="display: none;">
												<li><a href="blog-small-left-sidebar.php"><div>Left Sidebar</div></a></li>
												<li><a href="blog-small.php"><div>Right Sidebar</div></a></li>
												<li><a href="blog-small-both-sidebar.php"><div>Both Sidebar</div></a></li>
												<li><a href="blog-small-full-width.php"><div>Full Width</div></a></li>
												<li><a href="blog-small-alt.php"><div>Alternate Layout</div></a></li>
											</ul>
										</li>
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Item Splitting</div></a>
											<ul style="display: none;">
												<li><a href="blog-grid.php"><div>Pagination</div></a></li>
												<li><a href="blog-masonry.php"><div>Infinite Scroll</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-md-3">
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Single</div></a>
											<ul style="display: none;">
												<li><a href="blog-single.php"><div>Default Layout</div></a></li>
												<li><a href="blog-single-left-sidebar.php"><div>Left Sidebar</div></a></li>
												<li><a href="blog-single-full.php"><div>Full Width</div></a></li>
												<li><a href="blog-single-small.php"><div>Small Image</div></a></li>
												<li><a href="blog-single-split-right-sidebar.php"><div>Split Layout</div></a></li>
											</ul>
										</li>
										<li class="mega-menu-title sub-menu"><a href="#" class="sf-with-ul"><div>Comments Module</div></a>
											<ul style="display: none;">
												<li><a href="blog-single-left-sidebar.php#comments"><div>Facebook Comments</div></a></li>
												<li><a href="blog-single-small.php#comments"><div>Disqus Comments</div></a></li>
											</ul>
										</li>
									</ul>
								</div>
							</li>
							<li class="sub-menu"><a href="shop.php" class="sf-with-ul"><div>Shop</div></a>
								<ul style="display: none;">
									<li><a href="shop.php"><div>4 Columns</div></a></li>
									<li class="sub-menu"><a href="shop-3.php" class="sf-with-ul"><div>3 Columns</div></a>
										<ul class="menu-pos-invert" style="display: none;">
											<li><a href="shop-3.php"><div>Full Width</div></a></li>
											<li><a href="shop-3-right-sidebar.php"><div>Right Sidebar</div></a></li>
											<li><a href="shop-3-left-sidebar.php"><div>Left Sidebar</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="shop-2.php" class="sf-with-ul"><div>2 Columns</div></a>
										<ul class="menu-pos-invert" style="display: none;">
											<li><a href="shop-2-right-sidebar.php"><div>Right Sidebar</div></a></li>
											<li><a href="shop-2-left-sidebar.php"><div>Left Sidebar</div></a></li>
											<li><a href="shop-2-both-sidebar.php"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li class="sub-menu"><a href="shop-1.php" class="sf-with-ul"><div>1 Columns</div></a>
										<ul class="menu-pos-invert" style="display: none;">
											<li><a href="shop-1.php"><div>Full Width</div></a></li>
											<li><a href="shop-1-right-sidebar.php"><div>Right Sidebar</div></a></li>
											<li><a href="shop-1-left-sidebar.php"><div>Left Sidebar</div></a></li>
											<li><a href="shop-1-both-sidebar.php"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="shop-category-parallax.php"><div>Categories - Parallax</div></a></li>
									<li><a href="shop-combination-filter.php"><div>Combination Filter</div></a></li>
									<li class="sub-menu"><a href="shop-single.php" class="sf-with-ul"><div>Single Product</div></a>
										<ul class="menu-pos-invert" style="display: none;">
											<li><a href="shop-single.php"><div>Full Width</div></a></li>
											<li><a href="shop-single-right-sidebar.php"><div>Right Sidebar</div></a></li>
											<li><a href="shop-single-left-sidebar.php"><div>Left Sidebar</div></a></li>
											<li><a href="shop-single-both-sidebar.php"><div>Both Sidebar</div></a></li>
										</ul>
									</li>
									<li><a href="cart.php"><div>Cart</div></a></li>
									<li><a href="checkout.php"><div>Checkout</div></a></li>
								</ul>
							</li>
							<li class="current mega-menu sub-menu"><a href="#" class="sf-with-ul"><div>Shortcodes</div></a>
								<div class="mega-menu-content clearfix" style="display: none; width: 1220px;">
									<ul class="mega-menu-column col-5">
										<li><a href="animations.php"><div><i class="icon-magic"></i>Animations</div></a></li>
										<li><a href="buttons.php"><div><i class="icon-link"></i>Buttons</div></a></li>
										<li><a href="carousel.php"><div><i class="icon-heart3"></i>Carousel</div></a></li>
										<li><a href="charts.php"><div><i class="icon-bar-chart"></i>Charts</div></a></li>
										<li><a href="clients.php"><div><i class="icon-apple"></i>Clients</div></a></li>
										<li><a href="columns-grids.php"><div><i class="icon-th-large"></i>Columns</div></a></li>
										<li><a href="counters.php"><div><i class="icon-time"></i>Counters</div></a></li>
										<li><a href="component-datatable.php"><div><i class="icon-table"></i>Data Tables</div></a></li>
										<li><a href="component-datepicker.php"><div><i class="icon-calendar3"></i>Date &amp; Time Pickers</div></a></li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li><a href="dividers.php"><div><i class="icon-indent-right"></i>Dividers</div></a></li>
										<li><a href="featured-boxes.php"><div><i class="icon-lightbulb"></i>Icon Boxes</div></a></li>
										<li><a href="gallery.php"><div><i class="icon-picture"></i>Galleries</div></a></li>
										<li><a href="headings-dropcaps.php"><div><i class="icon-pencil2"></i>Heading Styles</div></a></li>
										<li><a href="icon-lists.php"><div><i class="icon-list-alt"></i>Icon Lists</div></a></li>
										<li><a href="labels-badges.php"><div><i class="icon-plus-sign"></i>Labels</div></a></li>
										<li><a href="lightbox.php"><div><i class="icon-resize-full"></i>Lightbox</div></a></li>
										<li><a href="component-editable.php"><div><i class="icon-edit"></i>Editable Fields</div></a></li>
										<li><a href="component-uploads.php"><div><i class="icon-line-upload"></i>File Uploads</div></a></li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li><a href="lists-panels.php"><div><i class="icon-th-list"></i>Lists &amp; Panels</div></a></li>
										<li><a href="maps.php"><div><i class="icon-map-marker2"></i>Maps</div></a></li>
										<li><a href="media-embeds.php"><div><i class="icon-play"></i>Media Embeds</div></a></li>
										<li><a href="modal-popovers.php"><div><i class="icon-move"></i>Modal Boxes</div></a></li>
										<li><a href="navigation.php"><div><i class="icon-align-justify2"></i>Navigations</div></a></li>
										<li><a href="pagination-progress.php"><div><i class="icon-cogs"></i>Pagination</div></a></li>
										<li><a href="pie-skills.php"><div><i class="icon-tasks"></i>Pies &amp; Skills</div></a></li>
										<li><a href="component-range-slider.php"><div><i class="icon-line-move"></i>Range Slider</div></a></li>
										<li><a href="component-ratings.php"><div><i class="icon-star3"></i>Star Ratings</div></a></li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li><a href="pricing.php"><div><i class="icon-dollar"></i>Pricing Boxes</div></a></li>
										<li><a href="process-steps.php"><div><i class="icon-thumbs-up"></i>Process Steps</div></a></li>
										<li><a href="promo-boxes.php"><div><i class="icon-rocket"></i>Promo Boxes</div></a></li>
										<li><a href="quotes-blockquotes.php"><div><i class="icon-quote-left"></i>Blockquotes</div></a></li>
										<li><a href="responsive.php"><div><i class="icon-laptop2"></i>Responsive</div></a></li>
										<li><a href="sections.php"><div><i class="icon-folder-open"></i>Sections</div></a></li>
										<li><a href="social-icons.php"><div><i class="icon-facebook2"></i>Social Icons</div></a></li>
										<li><a href="component-select-picker.php"><div><i class="icon-select"></i>Select Picker</div></a></li>
										<li><a href="component-select-box.php"><div><i class="icon-line-columns"></i>Select Boxes</div></a></li>
									</ul>
									<ul class="mega-menu-column col-5">
										<li><a href="style-boxes.php"><div><i class="icon-exclamation-sign"></i>Alert Boxes</div></a></li>
										<li><a href="styled-icons.php"><div><i class="icon-flag2"></i>Styled Icons</div></a></li>
										<li><a href="tables.php"><div><i class="icon-table"></i>Tables</div></a></li>
										<li><a href="tabs.php"><div><i class="icon-star3"></i>Tabs</div></a></li>
										<li><a href="testimonials-twitter.php"><div><i class="icon-user4"></i>Testimonials</div></a></li>
										<li><a href="thumbnails-slider.php"><div><i class="icon-camera3"></i>Thumbnails</div></a></li>
										<li><a href="toggles-accordions.php"><div><i class="icon-ok-circle"></i>Toggles</div></a></li>
										<li><a href="component-radios-switches.php"><div><i class="icon-line-square-check"></i>Radios &amp; Switches</div></a></li>
										<li><a href="component-typeahead.php"><div><i class="icon-type"></i>Input Typeahead</div></a></li>
									</ul>
								</div>
							</li>
						</ul>

						<!-- Top Cart
						============================================= -->
						<div id="top-cart">
							<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
							<div class="top-cart-content">
								<div class="top-cart-title">
									<h4>Shopping Cart</h4>
								</div>
								<div class="top-cart-items">
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt"></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">Blue Round-Neck Tshirt</a>
											<span class="top-cart-item-price">$19.99</span>
											<span class="top-cart-item-quantity">x 2</span>
										</div>
									</div>
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="http://canvashtml-cdn.semicolonweb.com/images/shop/small/6.jpg" alt="Light Blue Denim Dress"></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">Light Blue Denim Dress</a>
											<span class="top-cart-item-price">$24.99</span>
											<span class="top-cart-item-quantity">x 3</span>
										</div>
									</div>
								</div>
								<div class="top-cart-action clearfix">
									<span class="fleft top-checkout-price">$114.95</span>
									<button class="button button-3d button-small nomargin fright">View Cart</button>
								</div>
							</div>
						</div><!-- #top-cart end -->

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.php" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->
